@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Syne+Tactile&display=swap');

* {
    margin: 0;
    padding: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    font-family: 'Syne Tactile', sans-serif;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    background-color: rgb(190, 99, 99);
    padding: 10px;
    border-radius: 5px;
    font-family: 'Roboto Condensed';
}

a:hover {
    background-color: black;
}

.button {
    font-family: 'Roboto Condensed';
    letter-spacing: 0.02rem;
    background: hsl(154, 59%, 51%);
    color: rgb(0, 0, 0);
    border-color: #55B78D;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

main {
    background-color: white;
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.582);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.8rem;
    text-shadow: -1px 3px 6px rgba(0, 0, 0, 0.486);
}

nav {
    margin-bottom: 20px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
}

.themes {
    display: flex;
    justify-content: center;
    gap: 10px;
}
