/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Syne+Tactile&display=swap');


@font-face {
    font-family: 'Trashy';
    src: url(../fonts/go_around_the_books/go\ around\ the\ books.ttf);
 }

 @font-face {
     font-family: 'Ghost';
     src: url(../fonts/i_know_a_ghost/iknowaghost.ttf);
 }

 /* reset */

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

ul, ol, li {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

/* index */

a {
    text-decoration: none;
    color: white;
    background-color: #631427;
    padding: 20px 50px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Ghost';
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.267);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.267);
}

a:hover {
    background-color: #6314269f;
}

.idioms {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1.main-page {
    color: rgb(255, 254, 254);
    margin-right: 20px;
    letter-spacing: 0.4rem;
    line-height: 3.4rem;
    font-family: 'Trashy', sans-serif;
}

/*  en/br */

main {
    background-color: white;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 6px 2px rgba(115, 116, 108, 0.644);
}

h1 {
    margin-top: 15px;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: -1px 1px 12px #00000026
}

/* responsive */

@media screen and (max-width: 978px) {
    .idioms {
        display: flex;
        flex-direction: column;
    }

    h1.main-page {
        margin-bottom: 15px;
    }
}


/* CONSERTAR STYLE */

body {
    width: 100wh;
    height: 90vh;
    margin-top: 10px;
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: black;
    padding: 20px 0;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0px 0px 6px 5px rgba(115, 116, 108, 0.644);
}

h1.title {
    color: rgb(255, 255, 255);
    font-family: 'Trashy', sans-serif;
    font-size: 2.5rem;
    margin: 10px 0;
    text-shadow: -5px -1px 0px #5f6c6c;
}

#image {
    background-image: url("../img/forca.jpg");
    width: 150px;
    height: 220px;
    background-repeat: no-repeat;
}

#secret-word {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin-top: 30px;
}

.letters {
    width: 1rem;
    text-align: center;
    border-bottom: 2px solid white;
    color: rgb(255, 255, 255);
    padding: 2px;
    margin-left: 3px;
    margin-right: 3px;
}

/* keyboard */

.keys {
    text-align: center;
}

#keyboard {
    margin-top: 30px;
}

.keys button {
    width: 24px;
    height: 24px;
    margin: 2px;
    cursor: pointer;
    box-shadow: 0px 2px 8px dimgrey;
    border-radius: 5px;
    border: 1px solid grey;
    color: black;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}

.keys button:disabled {
    cursor: not-allowed;
}


.keys button:hover {
    transform: scale(1.3);
}

#category {
    margin-top: 30px;
    color: white;
    font-size: 1.2em;
}

@media (min-width: 321px) {
    .keys button {
        width: 25px;
        height: 25px;
    }
    #category {
        font-size: 1.3em;
    }
}

@media (min-width: 376px) {
    .keys button {
        width: 30px;
        height: 30px;
        font-size: 1.2em;
    }

    #secret-word {
        color: black;
        font-size: 1.3em;
    }

    .letters {
        width: 18px;
    }
    #category {
        font-size: 1.5em;
    }
}

@media (min-width: 426px) {
    .keys button {
        width: 36px;
        height: 36px;
    }

    #secret-word {
        font-size: 1.5em;
    }

    .letters {
        width: 20px;
    }
    #category {
        font-size: 1.6em;
    }
}

@media (min-width: 769px) {
    .keys button {
        width: 60px;
        height: 60px;
    }

    #secret-word {
        font-size: 2.5em;
    }

    .letters {
        width: 35px;
    }
    #category {
        font-size: 3em;
    }
}
